.app {
	.sections {
		width: 100%;
		height: calc(100vh - 70px);
		background: green;
		position: relative;
		top: 70px;
		scrollbar-width: none;
		overflow: scroll;
		scroll-snap-type: y mandatory;
		scroll-behavior:smooth;
		&::-webkit-scrollbar {
			display: none;
		}
		> * {
			height: calc(100vh - 70px);
			scroll-snap-align: start;
		}
	}
}
